<div class="container">
    <div class="row">
        <div class="text-center">
            eat
        </div>
        <div>
            <div class="row">
                {{#each data}}
                    {{#unless this.devoured}}
            </div>
        </div>
        <div>
            <div class="row">
                {{this.id}}. {{this.burgerName}}
            </div>
        </div>
        <div>
            <div class="row">
                <form method="POST" action="/{{this.id}}?_method=PUT">
                    <input type="hidden" type="text" name="burgerId" value={{this.id}}>
                    <button type="submit">
                        Devour it!
                    </button>
                </form>
            </div>
        </div>
        {{/unless}}
            {{/each}}

        <div>
            <div class="row">
                {{#each data}}
                    {{!-- if this is true --}}
                    {{#if this.devoured}}
                        <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burgerName}}" readonly>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <p>What kind of burger you would like to eat?</p>
            <form method="POST" action="/">
                <input type="text" name="burgerName" class="form-control" id="userInput">
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>